/*--- eBookish -- 2025.04.12 - No px ----------*/
/*--- eBookish -- core body styles ------------*/
body {
    display: block;
    margin: 0 5pt;
    line-height: 1.4;
    font-family: "Bookerly", serif;
    text-align: justify;
    text-indent: 0;
    widows: 5 !important;
    orphans: 5 !important;
    page-break-before: always;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto;
}
.ded {
    margin: 33% 5% 20%;
}
.cop {
    text-align: center;
    font-size: 75%;
    margin-top: 33%;
}
.ob {
    text-align: center;
    margin: 33% 5% 20%;
}
.cv {
    text-align: center;
    margin: 0;
    vertical-align: middle;
}
/*--- eBookish -- core paragraph styles -------*/
p {
    display: block;
    margin: 0.25em 0;
    word-break: normal;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    text-indent: 2em;
}
body+p {
    text-indent: 0;
    margin-top: 33%;
}
/*--- eBookish -- chapter start styles --------*/
.fl {
    display: block;
    margin: 0;
    text-indent: 0;
    page-break-inside: avoid !important;
}
.fl:first-letter {
    display: inline;
    color: #aaa;
    text-shadow: 0.05em 0.05em 0 #000, -0.025em -0.025em 0 #000, 0.025em -0.025em 0 #000, -0.025em 0.025em 0 #000, 0.025em 0.025em 0 #000;
    font-weight: bolder;
    font-size: 400%;
    font-weight: bolder;
    line-height: 1.55;
    height: 1.3em;
    float: left;
    margin: -0.3em 0 -0.3em 0;
    padding: 0.06em 0.1em 0 0;
    page-break-after: avoid !important;
    page-break-inside: avoid !important;
}
.fl:first-line {
    font-variant: small-caps;
    font-size: 130%;
    letter-spacing: 0.05em;
    page-break-after: avoid !important;
    page-break-inside: avoid !important;
}
/*--- eBookish -- titles styles ----------------*/
h1, h2, h3, h4, h5, h6 {
    line-height: inherit;
    font-weight: normal;
    page-break-after: avoid !important;
    page-break-inside: avoid !important;
}
h1 {
    display: block;
    font-size: 2.5em;
    margin: 10% 0;
    text-align: center;
    page-break-after: avoid !important;
}
body h1 {
    font-size: 250%;
    margin-top: 40%;
}
h1+p, *[class^="Head-Level-1"]+p {
    text-indent: 0;
}
h1+h1 {
    margin: 0;
}
h1+h2 {
    margin-top: 10%;
}
h2 {
    display: block;
    font-size: 2em;
    margin: 10% 0 15%;
    text-align: center;
}
body+h2 {
    margin-top: 35%;
}
h2+p, *[class^="Head-Level-2"]+p {
    text-indent: 0;
}
p+h2 {
    margin: 1em 0;
}
h3 {
    display: block;
    margin: 33% 0 10%;
    font-size: 2em;
    text-align: center;
}
h3+p, *[class^="Head-Level-3"]+p {
    text-indent: 0;
}
body+h3 {
    margin-bottom: 5%;
    font-size: 2.5em;
}
h2+h3 {
    margin: 0;
}
h3+h3 {
    margin: 0;
}
p+h3 {
    margin: 1em 0;
}
h4 {
    display: block;
    margin: 5% 0 0.5%;
    widows: 3;
    orphans: 3;
    page-break-after: avoid !important;
}
h4+h4 {
    margin: 1em 0;
}
h5 {
    display: block;
    font-size: medium;
    margin: 0;
}
h6 {
    display: block;
    font-size: medium;
    margin: 1em 0;
    text-align: center;
}
/*--- eBookish -- align styles -----------------*/
.right {
    display: block;
    text-align: right;
}
.sign {
    display: block;
    margin: 0.75em inherit 1.5em;
    page-break-before: avoid !important;
    text-align: right;
}
.left {
    display: block;
    text-align: left;
}
.just {
    display: block;
    text-align: justify;
}
.date {
    display: block;
    font-size: 1.1em;
    margin: 1em 0 0.75em;
    text-indent: 0;
    page-break-after: avoid !important;
}
.def {
    display: block;
    margin: 1em 0;
    text-indent: 0;
}
/*--- eBookish -- core font styles ------------*/
font {
    font-variant: small-caps;
    font-size: larger;
}
small {
    font-size: smaller;
}
big {
    font-size: larger;
}
sub, sup {
    font-size: 75%;
    line-height: 100% !important;
    position: relative;
    vertical-align: baseline;
    padding: 0 0 0 0.4%;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
tt {
    font-family: "Roboto Mono", monospace;
    font-size: 105%;
}
.letter {
    display: block;
    margin: 1em 2em;
    font-family: "Segoe Print", "Segoe Script", cursive;
    font-style: italic;
    line-height: 200%;
    text-align: left;
}
.cursive {
    font-family: "Segoe Script", "Segoe Print", cursive;
    font-style: italic;
}
.sans {
    font-family: "Trebuchet MS", sans-serif;
}
.space {
    letter-spacing: 0.25em;
}
.shadow {
    text-shadow: 0.05em 0.05em 0 #000, -0.025em -0.025em 0 #000, 0.025em -0.025em 0 #000, -0.025em 0.025em 0 #000, 0.025em 0.025em 0 #000;
    font-weight: bolder;
    letter-spacing: 0.05em;
    color: #aaa;
}
.clr-shadow {
    text-shadow: 0.05em 0.05em 0 #000, -0.025em -0.025em 0 #000, 0.025em -0.025em 0 #000, -0.025em 0.025em 0 #000, 0.025em 0.025em 0 #000;
    font-weight: bolder;
    letter-spacing: 0.05em;
}
/*--- eBookish -- blockquotes ----------------*/
blockquote {
    display: block;
    margin: 2em;
}
dl {
    margin: 1em 2em;
}
q {
    content: "“""”""‘""’";
}
q:before {
    content: open-quote;
    line-height: 0.1em;
    margin: 0 0.25em;
    vertical-align: 0;
}
q:after {
    content: close-quote;
    line-height: 0.1em;
    margin: 0 0.25em;
    vertical-align: 0;
}
.hang {
    display: block;
    text-indent: -2em;
    margin-left: 2em;
    page-break-before: avoid !important;
}
/*--- eBookish -- image ----------------------*/
img {
    display: inline-block;
    vertical-align: middle;
    height: auto;
    padding: 0 0.2em;
}
img.middle {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 100%;
    max-width: 100%;
    vertical-align: sub;
    /* removes descender gap beneath images */
    padding: 2.5% 0.2em;
    border: 0;
}
/*--- eBookish -- line styles -----------------*/
hr {
    border: 0;
    height: 0.05em;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.25));
    margin: 5% auto;
}
hr+p {
    text-indent: 0;
}
hr.sep {
    width: 33%;
}
/*--- eBookish -- list styles -----------------*/
ol, ul {
    list-style-position: outside;
}
/*--- eBookish -- link styles -----------------*/
a {
    text-decoration: none;
}
a.under {
    text-underline-position: under;
    text-decoration: underline dotted #0080ff;
    color: inherit;
}
/*--- eBookish -- page styles -----------------*/
@page {
    margin: 5pt 0;
}
/*--- eBookish -- end ------------------------*/
