/*--- eBouquin -- 2025.04.12 - No px ---------*/
/*--- eBouquin -- styles de corps -------------*/
body {
    display: block;
    margin: 0 5pt;
    line-height: 1.4;
    font-family: "Bookerly", serif;
    text-align: justify;
    text-indent: 0;
    widows: 5 !important;
    orphans: 5 !important;
    page-break-before: always;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto;
}
.ded {
    margin: 33% 5% 20%;
}
.cop {
    text-align: center;
    font-size: 75%;
    margin-top: 33%;
}
.ob {
    text-align: center;
    margin: 33% 5% 20%;
}
.cv {
    text-align: center;
    margin: 0;
    vertical-align: middle;
}
/*--- eBouquin -- styles de paragraphes -------*/
p {
    display: block;
    margin: 0.3em 0;
    word-break: normal;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    text-indent: 2em;
}
body+p {
    text-indent: 0;
    margin-top: 33%;
}
div {
    display: block;
    margin: 0;
}
/*--- eBouquin -- début des chapitres ---------*/
.fl {
    display: block;
    margin: 0;
    text-indent: 0;
    page-break-after: avoid !important;
}
.fl:first-letter {
    display: inline;
    color: #aaa;
    text-shadow: 0.05em 0.05em 0 #000, -0.025em -0.025em 0 #000, 0.025em -0.025em 0 #000, -0.025em 0.025em 0 #000, 0.025em 0.025em 0 #000;
    font-weight: bolder;
    font-size: 400%;
    font-weight: normal;
    line-height: 1.55;
    height: 1.3em;
    float: left;
    margin: -0.3em 0 -0.3em 0;
    padding: 0.06em 0.1em 0 0;
    page-break-after: avoid !important;
    page-break-inside: avoid !important;
}
.fl:first-line {
    font-variant: small-caps;
    font-size: 130%;
    letter-spacing: 0.05em;
    page-break-after: avoid !important;
    page-break-inside: avoid !important;
}
/*--- eBouquin -- styles de titres ------------*/
h1, h2, h3, h4, h5, h6 {
    line-height: inherit;
    font-weight: normal;
    page-break-after: avoid !important;
    page-break-inside: avoid !important;
}
h1 {
    display: block;
    font-size: 2.5em;
    margin: 10% 0;
    text-align: center;
    page-break-after: avoid !important;
}
body h1 {
    font-size: 3em;
    margin-top: 40%;
}
h1 + h1 {
    margin: 0;
}
h1 + h2 {
    margin-top: 10%;
}
h2 {
    display: block;
    font-size: 2em;
    margin: 10% 0;
    text-align: center;
    page-break-after: avoid !important;
}
body h2 {
    margin-top: 35%;
    font-size: 2em;
}
h3 {
    display: block;
    font-size: 1.75em;
    margin: 33% 0 10%;
    text-align: center;
    page-break-after: avoid !important;
}
body h3 {
    margin-bottom: 5%;
}
h3 + h3 {
    font-size: 1.75em;
    margin-top: 0;
}
p + h3 {
    margin: 1em 0;
}
h4 {
    display: block;
    margin: 2.5% 0 1%;
    widows: 3;
    orphans: 3;
    page-break-after: avoid !important;
}
h5 {
    display: block;
    font-size: 1em;
    margin: 0;
    page-break-after: avoid !important;
}
h6 {
    display: block;
    font-size: 1em;
    margin: 5% 0;
    text-align: center !important;
}
/*--- eBouquin -- styles d'alignement ---------*/
.right {
    display: block;
    text-align: right;
}
.sign {
    display: block;
    margin: 0.75em inherit 1.5em;
    page-break-before: avoid !important;
    text-align: right;
}
.left {
    display: block;
    text-align: left;
}
.just {
    display: block;
    text-align: justify;
}
.date {
    display: block;
    font-size: 1.1em;
    margin: 1em 0 0.75em;
    page-break-after: avoid !important;
}
.def {
    display: block;
    margin: 1em 0;
    text-indent: 0;
}
/*--- eBouquin -- styles de police ------------*/
font {
    font-variant: small-caps;
    font-size: larger;
}
small {
    font-size: smaller;
}
big {
    font-size: larger;
}
sub, sup {
    font-size: 75%;
    line-height: 100% !important;
    position: relative;
    vertical-align: baseline;
    padding: 0 0 0 0.4%;
}
sup {
    top: -0.5em;
    padding: 0 0 0 0.4%;
}
sub {
    top: -0.5em;
    padding: 0 0 0 0.4%;
}
tt {
    font-family: "Roboto Mono", monospace;
    font-size: 105%;
}
.space {
    letter-spacing: 0.25em;
}
.letter {
    display: block;
    margin: 0.5em 2em;
    font-family: "Segoe Print", "Segoe Script", cursive;
    line-height: 200%;
    text-align: left;
}
.cursive {
    font-family: "Segoe Print", "Segoe Script", cursive;
}
.sans {
    font-family: "Trebuchet MS", sans-serif;
}
.space {
    letter-spacing: 0.25em;
}
.shadow {
    text-shadow: 0.05em 0.05em 0 #000, -0.025em -0.025em 0 #000, 0.025em -0.025em 0 #000, -0.025em 0.025em 0 #000, 0.025em 0.025em 0 #000;
    font-weight: bolder;
    letter-spacing: 0.05em;
    color: #aaa;
}
.clr-shadow {
    text-shadow: 0.05em 0.05em 0 #000, -0.025em -0.025em 0 #000, 0.025em -0.025em 0 #000, -0.025em 0.025em 0 #000, 0.025em 0.025em 0 #000;
    font-weight: bolder;
    letter-spacing: 0.05em;
}
/*--- eBouquin -- blockquotes -----------------*/
blockquote {
    display: block;
    margin: 2em;
}
dl {
    margin: 1em 2em;
}
q {
    content: "« " " »";
}
q:before {
    content: open-quote;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: 0;
}
q:after {
    content: close-quote;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: 0;
}
.hang {
    display: block;
    page-break-before: avoid !important;
    text-indent: -1.5em;
    margin-left: 1.5em;
}
.dialogue {
    display: block;
    page-break-before: avoid !important;
    text-indent: 0;
    margin: 0.5em 0;
}
/*--- eBouquin -- image -----------------------*/
img.middle {
    display: block;
    margin-left: auto;
    margin-right: auto;
    vertical-align: sub;
    /* removes descender gap beneath images */
    padding: 2.5% 0;
    border: 0;
}
img {
    display: inline-block;
    vertical-align: sub;
    /*removes descender gap beneath images*/
    max-height: 100%;
    max-width: 100%;
    height: auto;
    padding: 0.1em 0;
}
/*--- eBouquin -- style lignes ----------------*/
hr {
    border: 0;
    height: 0.05em;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.25));
    margin: 5% auto;
}
hr.sep {
    width: 25%;
    height: 0.05em;
    margin: 10% auto;
}
/*--- eBouquin -- style de listes -------------*/
ol, ul {
    list-style-position: outside;
}
/*--- eBouquin -- liens -----------------------*/
a {
    text-decoration: none;
}
a.under {
    text-underline-position: under;
    text-decoration: underline dotted #093;
    color: inherit;
}
/*--- eBouquin -- style de page ---------------*/
@page {
    margin: 5pt 0;
}
/*--- eBouquin -- end -------------------------*/
